@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px) {

  .left-slider,
  .post {
    width: 50%;
  }
}

@media (max-width: 576px) {

  .left-slider,
  .post {
    width: 100%;
  }
}
/* Ensure LeftSlider doesn’t overflow vertically */
.left-slider-content {
  max-height: 100vh;
  overflow-y: auto;
}